In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sande\OneDrive\Documents\Priya\Data_science_Dataset\Customer_Personality_for_Marketing_Campaign\customer_segmentation.csv")

In [3]:
df.shape

(2240, 29)

In [4]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [6]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [6]:
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [7]:
df['Income']=df['Income'].fillna(df['Income'].median())

In [8]:
# converting datetime assuming day-first format
df["Dt_Customer"] = pd.to_datetime(df["Dt_Customer"],dayfirst=True)

# Getting today's date
today = pd.Timestamp.today().normalize()

# calculating tenure in days
df["Customer_Tenure_Days"] = (today - df["Dt_Customer"]).dt.days

#Dropping Dt_Customer column as we have already calculated Tenure Days.
df=df.drop(columns=['Dt_Customer'])

In [9]:
target='Response'
df_numeric=df.drop(['Education','Marital_Status'],axis=1)
corr=df_numeric.corr()[target]
print(corr)

ID                     -0.021968
Year_Birth              0.021325
Income                  0.132867
Kidhome                -0.080008
Teenhome               -0.154446
Recency                -0.198437
MntWines                0.247254
MntFruits               0.125289
MntMeatProducts         0.236335
MntFishProducts         0.111331
MntSweetProducts        0.117372
MntGoldProds            0.139850
NumDealsPurchases       0.002238
NumWebPurchases         0.148730
NumCatalogPurchases     0.220810
NumStorePurchases       0.039363
NumWebVisitsMonth      -0.003987
AcceptedCmp3            0.254258
AcceptedCmp4            0.177019
AcceptedCmp5            0.326634
AcceptedCmp1            0.293982
AcceptedCmp2            0.169293
Complain               -0.001707
Z_CostContact                NaN
Z_Revenue                    NaN
Response                1.000000
Customer_Tenure_Days    0.194481
Name: Response, dtype: float64

In [37]:
#Checking Education's effect on response
education_type_response=df.groupby("Education")["Response"].sum()
education_type_response

Education
2n Cycle       22
Basic           2
Graduation    152
Master         57
PhD           101
Name: Response, dtype: int64

In [10]:
#Checking Marital status's effect on response
Marital_Status_response=df.groupby("Marital_Status")["Response"].sum()
Marital_Status_response

Marital_Status
Absurd        1
Alone         1
Divorced     48
Married      98
Single      106
Together     60
Widow        19
YOLO          1
Name: Response, dtype: int64

In [11]:
#One hot encoding for Categorical columns Education and Marital Status(One hot encoding)
df=pd.get_dummies(df,columns=['Education','Marital_Status'],drop_first=True)

In [12]:
#Aways check whether it is imbalanced data, If it is imbalanced then even simple logistic regression gives more accuracy, but it is meaningless
df['Response'].value_counts()

Response
0    1906
1     334
Name: count, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X=df.drop(['Response','Z_Revenue','Z_CostContact'],axis=1)#Removing Z_Revenue and Z_CostContact as they dont have any correlation effect with Response
Y=df['Response']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

"""We use fit_transform() on the training data because the scaler must learn the mean and standard deviation only from the training set. 
These learned parameters are then applied to both the training and test data.If we fit the scaler on the test data, the mean and standard
deviation would be computed using test information, which leads to data leakage and results in an optimistically biased and invalid model evaluation.
"""
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)#train date is using fit_tran
X_test_scaled=scaler.transform(X_test) #

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

# model
model = LogisticRegression()

# parameter grid for class weights, Different C values are used for Regularization.
param_grid = { "C":[0.01,0.1,1,10],"class_weight": [ None, "balanced",{0: 1, 1: 2},{0: 1, 1: 3},{0: 1, 1: 5}]}

# grid search
grid = GridSearchCV(estimator=model,param_grid=param_grid,scoring="f1")  # f1 score is good metric imbalanced data

grid.fit(X_train_scaled,Y_train)

best_model=grid.best_estimator_

In [15]:
#Predicting
Y_pred=best_model.predict(X_test_scaled)

from sklearn.metrics import classification_report,roc_auc_score,precision_score,recall_score

#Accuracy is not used because for imbalanced data accuracy is not a good metric for evaluating model
precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

Y_prob=best_model.predict_proba(X_test_scaled)[:,1]
ROC_AUC_score=roc_auc_score(Y_test,Y_prob)
print("ROC_AUC_score",ROC_AUC_score)

precision= 0.5373134328358209
Recall= 0.5217391304347826
ROC_AUC_score 0.8502542923788765

In [16]:
#As ROC_AUC score is good, model is discriminating positive and negative classes well, Now issue is threshold.
#Increasing threshold to make precision score better , Here we are mainly focusing on avoiding false positives 
#This scenario works better when company dont want to  target on cusomers who are unlikely to respond.

Y_prob=best_model.predict_proba(X_test_scaled)[:,1]

#Here we are mainly focucing on not missing out responders
threshold = 0.70
Y_pred = (Y_prob>=threshold).astype(int)

from sklearn.metrics import classification_report,roc_auc_score,precision_score,recall_score

#Accuracy is not used because for imbalanced data accuracy is not a good metric for evaluating model
precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

Y_prob=best_model.predict_proba(X_test_scaled)[:,1]
ROC_AUC_score=roc_auc_score(Y_test,Y_prob)
print("ROC_AUC_score",ROC_AUC_score)

precision= 0.696969696969697
Recall= 0.3333333333333333
ROC_AUC_score 0.8502542923788765

In [17]:
#As ROC_AUC score is good, model is discriminating positive and negative classes well, Now issue is threshold.
#Decreasing threshold to make recall score better 
#This scenario works better when company focusing on not missing potential responders.

Y_prob=best_model.predict_proba(X_test_scaled)[:,1]

#Here we are mainly focucing on not missing out responders
threshold = 0.30
Y_pred = (Y_prob>=threshold).astype(int)

from sklearn.metrics import classification_report,roc_auc_score,precision_score,recall_score

#Accuracy is not used because for imbalanced data accuracy is not a good metric for evaluating model
precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

Y_prob=best_model.predict_proba(X_test_scaled)[:,1]
ROC_AUC_score=roc_auc_score(Y_test,Y_prob)
print("ROC_AUC_score",ROC_AUC_score)

precision= 0.36496350364963503
Recall= 0.7246376811594203
ROC_AUC_score 0.8502542923788765