In [13]:
import pandas as pd

In [14]:
df=pd.read_csv(r"C:\Users\sande\OneDrive\Documents\Priya\Data_science_Dataset\Customer_Personality_for_Marketing_Campaign\customer_segmentation.csv")

In [18]:
df.shape

(2240, 29)

In [4]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [6]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [15]:
target='Response'
df_numeric=df.drop(['Dt_Customer','Education','Marital_Status'],axis=1)
corr=df_numeric.corr()[target].sort_values(ascending=False)
print(corr)

Response               1.000000
AcceptedCmp5           0.326634
AcceptedCmp1           0.293982
AcceptedCmp3           0.254258
MntWines               0.247254
MntMeatProducts        0.236335
NumCatalogPurchases    0.220810
AcceptedCmp4           0.177019
AcceptedCmp2           0.169293
NumWebPurchases        0.148730
MntGoldProds           0.139850
Income                 0.133047
MntFruits              0.125289
MntSweetProducts       0.117372
MntFishProducts        0.111331
NumStorePurchases      0.039363
Year_Birth             0.021325
NumDealsPurchases      0.002238
Complain              -0.001707
NumWebVisitsMonth     -0.003987
ID                    -0.021968
Kidhome               -0.080008
Teenhome              -0.154446
Recency               -0.198437
Z_CostContact               NaN
Z_Revenue                   NaN
Name: Response, dtype: float64

In [8]:
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [16]:
df['Income']=df['Income'].fillna(df['Income'].median())

In [17]:
#Aways check whether it is imbalanced data, If it is imbalanced then even simple logistic regression gives more accuracy, but it is meaningless

df['Response'].value_counts()

Response
0    1906
1     334
Name: count, dtype: int64

In [13]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [18]:
#One hot encoding for Education and Marital Status(One hot encoding is prefered for PCA as distance matters here
df=pd.get_dummies(df,columns=['Education','Marital_Status'],drop_first=True)

In [19]:
#Convert Dt_Customer column to proper datetime and extract year, month
df['Dt_Customer']=pd.to_datetime(df['Dt_Customer'],format="mixed")
df['Customer_Year']=df['Dt_Customer'].dt.year
df['Customer_Month']=df['Dt_Customer'].dt.month

In [20]:
#Dropping Dt_Customer column as we have already extracted Customer_Year and Customer_Month columns from it
df=df.drop(columns=['Dt_Customer'])

In [21]:
from sklearn.model_selection import train_test_split

X=df.drop('Response',axis=1)#Make sure all features are in numeric format before assigning
Y=df['Response']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [22]:
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE

smote=SMOTE(random_state=42)
X_res,Y_res=smote.fit_resample(X_train_scaled,Y_train)
print("Before",Y_train.value_counts()) 
print("After",Y_res.value_counts())

# Train Logistic Regression model
model = LogisticRegression()
model.fit(X_res, Y_res)

Y_pred=model.predict(X_test_scaled)

from sklearn.metrics import accuracy_score,classification_report,roc_auc_score,precision_score,recall_score

Train_Accuracy=model.score(X_train_scaled,Y_train)
print("Train_Accuracy",Train_Accuracy)

Test_accuracy=accuracy_score(Y_test,Y_pred)
print("Test accuracy=",Test_accuracy)

precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

ROC_AUC_score=roc_auc_score(Y_test,model.predict_proba(X_test_scaled)[:,1])
print("ROC_AUC_score",ROC_AUC_score)

Before Response
0    1527
1     265
Name: count, dtype: int64
After Response
0    1527
1    1527
Name: count, dtype: int64
Train_Accuracy 0.8420758928571429
Test accuracy= 0.8102678571428571
precision= 0.4322033898305085
Recall= 0.7391304347826086
ROC_AUC_score 0.8585522542159

In [23]:
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE

smote=SMOTE(random_state=42)
X_res,Y_res=smote.fit_resample(X_train_scaled,Y_train)
print("Before",Y_train.value_counts()) 
print("After",Y_res.value_counts())

model=RandomForestClassifier(n_estimators=200,max_depth=4,min_samples_split=5,min_samples_leaf=5,max_features='sqrt',random_state=42)
model.fit(X_res,Y_res)

Y_pred=model.predict(X_test_scaled)

from sklearn.metrics import accuracy_score,classification_report,roc_auc_score,precision_score,recall_score

Train_Accuracy=model.score(X_train_scaled,Y_train)
print("Train_Accuracy",Train_Accuracy)

Test_accuracy=accuracy_score(Y_test,Y_pred)
print("Test accuracy=",Test_accuracy)

precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

ROC_AUC_score=roc_auc_score(Y_test,model.predict_proba(X_test_scaled)[:,1])
print("ROC_AUC_score",ROC_AUC_score)

Before Response
0    1527
1     265
Name: count, dtype: int64
After Response
0    1527
1    1527
Name: count, dtype: int64
Train_Accuracy 0.8448660714285714
Test accuracy= 0.8035714285714286
precision= 0.411214953271028
Recall= 0.6376811594202898
ROC_AUC_score 0.79901342204887

In [24]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report
from imblearn.over_sampling import SMOTE

smote=SMOTE(random_state=42)
X_res,Y_res=smote.fit_resample(X_train_scaled,Y_train)
print("Before",Y_train.value_counts()) 
print("After",Y_res.value_counts())


model=XGBClassifier(n_estimators=80,learning_rate=0.01,max_depth=3,subsample=0.4,colsample_bytree=0.4,reg_lambda=0.1,reg_alpha=0,gamma=0.0,random_state=42)
model.fit(X_res,Y_res)

Y_pred=model.predict(X_test_scaled)

from sklearn.metrics import accuracy_score,classification_report,roc_auc_score,precision_score,recall_score

Train_Accuracy=model.score(X_train_scaled,Y_train)
print("Train_Accuracy",Train_Accuracy)

Test_accuracy=accuracy_score(Y_test,Y_pred)
print("Test accuracy=",Test_accuracy)

precision=precision_score(Y_test,Y_pred)
print("precision=",precision)

recall=recall_score(Y_test,Y_pred)
print("Recall=",recall)

ROC_AUC_score=roc_auc_score(Y_test,model.predict_proba(X_test_scaled)[:,1])
print("ROC_AUC_score",ROC_AUC_score)

Before Response
0    1527
1     265
Name: count, dtype: int64
After Response
0    1527
1    1527
Name: count, dtype: int64
Train_Accuracy 0.8498883928571429
Test accuracy= 0.8214285714285714
precision= 0.43956043956043955
Recall= 0.5797101449275363
ROC_AUC_score 0.8042522274482812

'''from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
import numpy as np

X=df.drop('Response',axis=1)
Y=df['Response']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

cat_features=['Education','Marital_Status']

model=CatBoostClassifier(iterations=50,learning_rate=0.01,depth=4,cat_features=cat_features,auto_class_weights='Balanced',random_state=42)
model.fit(X_train,Y_train)

from sklearn.metrics import accuracy_score,classification_report,roc_auc_score

Train_Accuracy=model.score(X_train,Y_train)
print("Train_Accuracy",Train_Accuracy)

Test_Accuracy=model.score(X_test,Y_test)
print("Test_Accuracy",Test_Accuracy)

ROC_AUC_score=roc_auc_score(Y_test,Y_pred)
print("ROC_AUC_score",ROC_AUC_score)

Classification_report=classification_report(Y_test,Y_pred)
print("Classification_report",Classification_report)'''